VITE_ALGORAND_NETWORK=testnet
VITE_ALGOD_URL=https://testnet-api.algonode.cloud
VITE_INDEXER_URL=https://testnet-idx.algonode.cloud
VITE_AGENT_BRIDGE_URL=http://localhost:3001
VITE_PROVIDER_API_URL=http://localhost:8000
VITE_REGISTRY_APP_ID=
VITE_ESCROW_APP_ID=
